<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-dark">© 2023 celine S I chan</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <i class="bi bi-house" style="font-size: 1.5rem; color:black;"></i>
    </a>

    <ul class="nav col-md-4 d-flex align-items-center justify-content-center">
      <a href="https://github.com/SICelineChan" class="nav-link text-dark"><li class="nav-item bi bi-github" style="font-size: 2rem;"></li></a>
        <a href="mailto:cctinlone@gmail.com" class="nav-link text-dark"><li class="nav-item bi-google" style="font-size: 2rem;"></li></a>
        <a href="https://steamcommunity.com/id/sicCeline/" class="nav-link text-dark"><li class="nav-item bi-steam" style="font-size: 2rem;"></li></a>
        <a href="https://www.linkedin.com/in/celine-chan-179a572b/" class="nav-link text-dark"><li class="nav-item bi-linkedin" style="font-size: 2rem;"></li></a>
    </ul>
  </footer>