
<header class="mb-auto py-3">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-start ">
        <a class="text-dark fw-bold mx-md-3 py-3 active text-decoration-none" aria-current="page" href="/about">About Me</a>
        <a class="text-dark fw-bold mx-md-3 py-3 text-decoration-none" href="/data">Databases</a>
        <a class="text-dark fw-bold mx-md-3  py-3 text-decoration-none" href="/mongo">MongoDB</a>
        <!--<a class="text-dark fw-bold mx-md-3  py-3 text-decoration-none" href="/sql">MySql</a>-->
      </nav>
      
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <i class="bi bi-person-fill-lock mx-auto mx-2 px-4" style="font-size: 1.5rem; color:lightgray;"></i></a>
        
        <a class="btn btn-info mx-2 px-4" href="#">Login </a>
        <a class="btn btn-primary mx-2 px-4" href="#" role="button">Sign Up </a>
        
      </nav>
      <a href="/">
      <i class="bi bi-robot" style="font-size: 2rem; color: lightgrey;"></i>
    </a>
    </div>
  </header>
