<header class="mb-auto py-1">
  <div>
    <nav class="nav navbar-expand-lg justify-content-center">
      <a class="navbar-brand fw-bold mx-2 py-2 text-decoration-none" href="/"
        ><i class="bi bi-house" style="font-size: 1.8rem"></i
      ></a>
      <a class="nav-item fw-bold mx-2 py-3 text-decoration-none" href="/about"
        >About</a
      >
      <a class="nav-item fw-bold mx-2 py-3 text-decoration-none" href="/data"
        >Databases</a
      >
      <a
        class="nav-item fw-bold mx-2 py-3 text-decoration-none"
        href="/articles"
        >Blog</a
      >
      <a class="nav-item fw-bold mx-2 py-3 text-decoration-none" href="/mongo"
        >MongoDB</a
      >

      <!--<a class="text-dark fw-bold mx-md-3  py-3 text-decoration-none" href="/sql">MySql</a>
         <a class="text-dark fw-bold mx-md-3 py-3 active text-decoration-none" aria-current="page" href="/about">About Me</a>-->
    </nav>
  </div>
</header>
