<menu>
  <ul>
    <li>
      <a style="color: #95e4ef" href="/about">About</a>
    </li>
    <li>
      <a style="color: #f0ed7f" href="/articles">Blog</a>
    </li>
    <li>
      <a style="color: #dc6985" href="/data">Database</a>
    </li>
    <li>
      <a style="color: #93ef77" href="/Mongo">MongoDB</a>
    </li>
  </ul>
</menu>
