<menu>
  <ul>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/articles">Blog</a>
    </li>
    <li>
      <a href="/data">Database</a>
    </li>
    <li>
      <button class="darkBtn" onclick="dark()">
        <i class="bi bi-moon moon"></i>
      </button>
    </li>
  </ul>
</menu>
