<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/moreStyles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <title>About Me</title>
  </head>
  <style>
    body {
      background-color: #fff2f2;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
    }
  </style>

  <body class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%- include("partials/header.ejs") %>

      <main class="py-xxl-5 mb-xl-8 text-center">
        <div class="col-lg-8 mx-auto p-4 py-md-5 text-center">
          <h1 class="pb-3 mb-1 border-bottom">About</h1>
          <br />

          <div>
            <h3>What is about this project?</h3>
          </div>
          <p class="fs-5 col-md-12 text-xl-center">
            You have probably read about me, me from my portfolio (and if you
            haven't yet, you can still click on the link) so let's skip to the
            "about" this project.
          </p>
          <p class="fs-5 col-md-12 text-xl-center">
            There will be more features to be added. In so far, this has been my
            own personal project. There is a working blog and more advanced CSS.
            I hope to bring more animations and a map function in the coming
            future.
          </p>

          <h3>The idea</h3>
          <p class="fs-5 col-md-12 text-xl-center">
            The idea was to transfer what I've done in my final project using
            React and rewrite code using Node.js, ejs and tap onto a bit of
            backend code using MongoDB.
          </p>

          <h3>At the beginning</h3>
          <p class="fs-5 col-md-12 text-xl-center">
            I first built this project using a local JSON file to check that my
            ejs code is working. Once that was done, I moved on to code and
            linked to my MongoDB account. There are already some databases from
            previous projects and the process was to check that the code works.
          </p>

          <h3>Not always so smooth...</h3>
          <p class="fs-5 col-md-12 text-xl-center">
            This is my first personal project without the help of a mentor at
            the beginning (I've since asked a few seasoned developers to check
            the web), it wasn't all smooth sailing, I encountered problems with
            connecting to MongoDB, the design and layout was not responsive and
            there were spelling mistakes.
          </p>

          <h3>The rescue...</h3>
          <p class="fs-5 col-md-12 text-xl-center">
            I'm glad that there are a bunch of friends who didn't mind going
            through all the pages and just gave me very honest opinions. Also a
            seasoned web developer has stressed that I should tone down the
            design and focus on clean and readable code.
          </p>

          <h3>The extra miles...</h3>
          <p class="fs-5 col-md-12 text-xl-center">
            I am curious about how much more content I could add to this
            application, so I took some extra time to learn how to create the
            working blog pages from web dev simplified on Youtube, as well as
            notes from my Udemy and Hamburg Coding School to smoothen my code.
          </p>
        </div>
      </main>

      <%- include("partials/footer.ejs") %>
    </div>
    <script>
      function dark() {
        let element = document.body;
        element.classList.toggle("dark");
      }

      $(document).ready(function () {
        // Transition effect for navbar
        $(window).scroll(function () {
          // checks if window is scrolled more than 500px, adds/removes solid class
          if ($(this).scrollTop() > 300) {
            $(".navbar").addClass("solid");
          } else {
            $(".navbar").removeClass("solid");
          }
        });
      });
    </script>
  </body>
</html>
