<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/moreStyles.css">
    <title>mongo db testing page</title>
    
</head>

<body class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%- include("partials/header.ejs") %>
    

    <main class="container-fluid lead py-xxl-5 mb-xl-4 text-center">

        <h2>Database page</h2>
        <br>
        <p>This database page contains a link to my rest API and data from a local JSON file. Read a bit on <a href="/about">About </a>to understand why I included this here.</p>
        <p>My rest API is currently available on - <a href="/mongo">MongoDB</a></p> 
        
        <div class="d-flex row mb-2 py-2 mb-3 justify-content-center">
            <div class="col-md-4">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h4 class="d-inline-block mb-2">Local JSON</h4>
                  <h4 class="mb-0">Where have I been?</h4>
                  <div class="container-sm d-flex justify-content-center">
                    <ol class="list-group list-group-numbered">
                    <% for (let i = 0; i < places.length; i++) {  %>
                        <li class="list-group-item list-group-item-action list-group-item"><a href="./info?index=<%=i%>"><%=places[i].city %></li></a>   
                    <% } %>
                </ol>
                </div>
                </div>
              </div>
            </div>
          </div>
        </main>
    
    
    
        <!--and  <a href="/sql">MySql</a> are connected to the relative link!</h4>
        <h4>You can now POST using RESTED to the sql and can view /sql/:id</h4>--> 
        


    <%- include("partials/footer.ejs") %>
</div>
<script>
  function dark() {
    let element = document.body;
    element.classList.toggle("dark");
  }
  </script>
</body>

</html>


    
  
   
  