<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <link rel="stylesheet" href="css/badstyles.css">
</head>
<style>
    body{
        background-image: url("images/lagoon.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
</style>
<body>
    
    <H1>Some Info</H1>
    <h2>testing why local css does not work</h2>
</body>
</html>