<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Travelling noodles</title>
</head>
<style>
  body {
  background-image: url("images/bglagoon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
</style>
<body class="d-flex h-100 text-center">
    
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
    <header class="mb-auto py-3">
      <div>
        <nav class="nav nav-masthead justify-content-center float-md-start ">
          <a class="text-light fw-bold mx-md-3 py-3 active text-decoration-none" aria-current="page" href="/about">About Me</a>
          <a class="text-light fw-bold mx-md-3 py-3 text-decoration-none" href="/data">Databases</a>
          <a class="text-light fw-bold mx-md-3  py-3 text-decoration-none" href="/mongo">MongoDB</a>
          <!-- <a class="text-light fw-bold mx-md-3  py-3 text-decoration-none" href="/sql">MySql</a> -->
          
        </nav>
        
      
      </div>
    </header>
    
    <main class="lead py-xxl-5 mb-xl-4 text-center">
      <h1>Eat Noodles and Go Travel</h1>
      <p class="lead py-xxl-4 px-xl-4 text-center container-fluid">Another project that is now using node.js and more backend!</p>
      <p class="lead py-xxl-4 px-xl-2 text-center container-fluid">more to follow!</p>
      <p class="lead py-lg-3">
        <a href="/info" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">Let's Roll!</a>
      </p>
    </main>
  
   
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-white">© 2023 celine S I chan</p>
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <i class="bi bi-house" style="font-size: 1.5rem; color:azure;"></i>
      </a>
      <ul class="nav col-md-4 d-flex align-items-center justify-content-center">
        <a href="https://github.com/SICelineChan" class="nav-link text-white"><li class="nav-item bi bi-github" style="font-size: 2rem;"></li></a>
        <a href="mailto:cctinlone@gmail.com" class="nav-link text-white"><li class="nav-item bi-google" style="font-size: 2rem;"></li></a>
        <a href="https://steamcommunity.com/id/sicCeline/" class="nav-link text-white"><li class="nav-item bi-steam" style="font-size: 2rem;"></li></a>
        <a href="https://www.linkedin.com/in/celine-chan-179a572b/" class="nav-link text-white"><li class="nav-item bi-linkedin" style="font-size: 2rem;"></li></a>
      </ul>
    </footer>

  </div>
  </body>   
</html>


