h3 {
  font-family: 'Marck Script', cursive;
  color:#2183a7;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
    color:#dd6281; 
    text-decoration:none; 
    cursor:pointer; 
}

.navbar {
  padding: 0 0 0.5rem;
  color:black;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 2px;
  color: lightslategrey;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}
.navbar-toggler-icon {
  color: lightgoldenrodyellow;
}

.container-fluid {
  padding: 2% 5% 1%;
}
.mainTitle{
  font-size: 6rem;
  font-family: 'Courgette', cursive;
  color: #ecad1a;
}
.subTitle{
  font-family: 'Raleway', sans-serif;
  font-size: 2.2rem;
  color: #F6E6C2;
  -webkit-text-stroke: 1px grey;
}
.box1 {
  background-color: #8ea7e9;
}
.box2 {
  background-color: #d9cbf1;
}

.darkBtn {
  font-size: 1.2 rem;
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
  padding: 2px;

}
.dark {
  font-size: 1.4rem;
  background-color: rgb(45, 46, 46);
  color: rgb(229, 231, 233);
}
.dark .navbar-brand  {
  font-size: 1.4rem;
  color: beige;
}
.dark button {
  color: #ecad1a;
}
.dark h2, .dark p {
  color: #42bbe8;
}
.dark .box1, .dark .box2 {
  background-color: #252525;
}
.Me:hover{
    font-family: 'Raleway', sans-serif;
    background-size: 100% 100%;
    background: linear-gradient(-35deg, #ee85ad, #55c8f2, #51e8c5);
    animation: move 6s ease infinite;
    height: 100%;
    transition: 6s ;
}
@keyframes move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  
}
.myself {
  width: 130px;
  border-radius: 50%;
}
.logo{
  width: 50px;
  border-radius: 60%
}

@media (max-width: 1028px) { 
.container-fluid{
padding: 2% 5%;
margin: 2%;
}
.mainTitle {
  font-size: 1.5rem;
}
.subTitle{
  font-size: 0.7rem;
}
nav a{
padding: 2% 5%;
margin: 2%;
}

}