



body{
  background-image: url("images/bglagoon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
main{
  font-family: 'Courgette', cursive;
}

.darkBtn {
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
  padding: 2px;

}
.dark {
  background-color: darkslategrey;
  font-size: 20px;
  color: aliceblue;
}
.myself {
  width: 130px;
  border-radius: 50%;
}
.logo{
  width: 50px;
  border-radius: 60%
}