.darkBtn {
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
  padding: 2px;

}
.dark {
  background-color: darkslategrey;
  font-size: 20px;
  color: aliceblue;
}
.myself {
  width: 130px;
  border-radius: 50%;
}
.logo{
  width: 50px;
  border-radius: 60%
}